* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--clr-neutral-900);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

:root {
  --clr-primary: hsl(4, 100%, 67%);

  --clr-neutral-900: hsl(234, 29%, 20%);
  --clr-neutral-600: hsl(235, 18%, 26%);
  --clr-neutral-300: hsl(231, 7%, 60%);
  --clr-neutral-000: hsl(0, 0%, 100%);
}

.main-container {
  background-color: var(--clr-neutral-000);
  display: flex;
  flex-direction: row-reverse;
  max-width: 100rem;
  border-radius: 3rem;
}

/* IMAGE CONTAINER */

.container__img {
  margin: 2rem;
}

.image {
  display: block;
}
/* SIGN-UP CONTAINER */

.container__sign-up {
  margin: auto 4rem;
}
